<!-- user_count.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Users</title>
    <!-- Подключение Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            padding: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="mt-4 mb-4">Online Users</h1>
        <p class="lead">Number of online users: <span class="badge badge-primary">{{ online_users }}</span></p>

        <h2 class="mt-4 mb-4">User IPs:</h2>
        <ul>
            {% for user_ip in user_ips %}
                <li>{{ user_ip }}</li>
            {% endfor %}
        </ul>
    </div>

    <!-- Подключение Bootstrap JS (необходимо для работы стилей badge) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>
